* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
}

a {
  text-decoration: none;
  color: black;
}

#container * {
  /* padding: 10px 10px; */
  /* border: 1px solid black; */
}

#container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #72DDF7;
}

/*
  ========================================
  NAVBAR
  ========================================
*/

nav {
  width: 68%;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  font-size: 12px;
  background-color: #8093F1;
  background:
    linear-gradient(
      #737373,
      #5e5e5e 50%,
      #747474 50%,
      #8a8a8a
    );
  border: #6d6d6d solid 1px;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  z-index: 10;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr)) 1.3fr;
}

nav:nth-last-child(n+2) a {
  border-right: #575757 solid 1px;
}

nav a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  color: white;
  font-weight: 600;
  box-shadow: inset 0 0 2px #9b9b9b;
}

nav a:hover {
  background-color: rgba(87, 87, 87, 0.7);
}

nav ul a:first-child {
  background-image: url('../images/apple-logo-white.png');
  background-size:17px;
  background-position: center;
  background-repeat: no-repeat;
}

nav ul li {
  padding: 8px 12px;
}

input[type=search] {
  width: 80%;
  padding-left: 25px;
  /* height: 100%; */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGcgZmlsbC1vcGFjaXR5PSIuNSI%2BCgk8cG9seWdvbiBwb2ludHM9IjkuMjA3LDcuMTI2IDcuNzkzLDguNTQxIDExLjc5MywxMi41NDEgMTMuMjA3LDExLjEyNiIgLz4KCTxwYXRoIGQ9Ik01LjkxNywzYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsOC44MzMsNS45MTcsOC44MzNTMyw3LjUyNSwzLDUuOTE3UzQuMzA4LDMsNS45MTcsMyBNNS45MTcsMQoJCUMzLjIwMSwxLDEsMy4yMDEsMSw1LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMy4yMDEsOC42MzIsMSw1LjkxNywxTDUuOTE3LDF6IiAvPgo8L2c%2BCjxnPgoJPHBvbHlnb24gZmlsbD0iI2ZmZiIgcG9pbnRzPSI5LjIwNyw2LjEyNiA3Ljc5Myw3LjU0MSAxMS43OTMsMTEuNTQxIDEzLjIwNywxMC4xMjYiIC8%2BCgk8cGF0aCBmaWxsPSIjZmZmIiBkPSJNNS45MTcsMmMxLjYwOCwwLDIuOTE3LDEuMzA4LDIuOTE3LDIuOTE3UzcuNTI1LDcuODMzLDUuOTE3LDcuODMzUzMsNi41MjUsMyw0LjkxN1M0LjMwOCwyLDUuOTE3LDIKCQkgTTUuOTE3LDBDMy4yMDEsMCwxLDIuMjAxLDEsNC45MTdzMi4yMDEsNC45MTcsNC45MTcsNC45MTdzNC45MTctMi4yMDEsNC45MTctNC45MTdDMTAuODMzLDIuMjAxLDguNjMyLDAsNS45MTcsMEw1LjkxNywweiIgLz4KPC9nPgo8L3N2Zz4K');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
  border:0;
}

/*
  ========================================
  MAIN
  ========================================
*/

main {
  flex: 1;
  display: grid;
  /* grid-template-rows: 1fr auto; */
  grid-template-rows: 2fr 1fr;
  grid-gap: 3px;
  background-color: #FDC5F5;
}

/*
  ========================================
  MAIN - ARTICLE
  ========================================
*/

article {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #A4D4B4;
  background-image: url('../images/your_verse_hero.jpg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

article .overlay {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
}

article .inner {
  position:relative;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}

article .inner a {
  pointer-events: all;
  position:relative;
}

/*
  ========================================
  MAIN - ASIDE
  ========================================
*/

aside {
  background-color: #78CDD7;
}

aside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  background-color: #FFCF9C;
}

aside a {
  background-repeat: no-repeat;
}

aside a:nth-child(1) {
  background-image: url('../images/promo_iphone5s.jpg');
}

aside a:nth-child(2) {
  background-image: url('../images/promo_iphone5c.jpg');
}

aside a:nth-child(3) {
  background-image: url('../images/promo_30_years.jpg');
}

aside a:nth-child(4) {
  background-image: url('../images/promo_supplier_responsibility.jpg');
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #B388EB;
}

